<div>

<img src="../images/background.png" alt="" height="700px" width="1270px">
<button id="login-button" style="padding-left: 50px; padding-right: 50px; background-color:blue; color: white; position:absolute; top:355px; left: 545px">Login with Facebook</button>

</div>